@* NavMenu.razor *@
<div class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(90deg, #4E342E, #5D4037);">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="images/bookend-logo.png" alt="Logo" height="40" />
            <span class="ms-2">BlazorGraphQL</span>
        </a>

        <!-- Blazor-driven toggler -->
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Use our collapseNavMenu flag to add/remove "show" -->
        <div class="collapse navbar-collapse @(collapseNavMenu ? "" : "show")" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <NavLink class="nav-link" href="">🏠 Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="books">📚 Books</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">ℹ️ About</NavLink>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    bool collapseNavMenu = true;
    void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
